* {
  padding: 0;
    margin: 0;
;
}
section {
    background-color: rgb(214, 214, 214);
    width: 50%;
    margin: auto; 
    display: flex;
    flex-direction: column;

    padding: 2em;
    border-radius: 2em;
    margin: auto; 
    margin-top: 2em;
}

p {
    font-family: monospace;
    font-size: 20px;
    padding: 1em;
}